.env
.idea/
.vscode/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
build/
dist/
*.egg-info/
artifacts/
cache/
data/
datasets/
checkpoints/
models_ckpt/
*.pth
*.pt
*.ckpt
*.zip
.ipynb_checkpoints/
